# =========================
# Python
# =========================
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Frontend (React / Vite)
# =========================
node_modules/
dist/

# Vite cache
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Build Files
# =========================
*.egg-info/
build/

# =========================
# Machine Learning
# =========================
# إذا كنت سترفع المشروع كاملًا على GitHub
# اترك السطرين التاليين معلقين

# house_price.pkl
# locations.json